NEXT_PUBLIC_SUPABASE_URL=https://wxlihlmdnjohfstkgdsy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind4bGlobG1kbmpvaGZzdGtnZHN5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMjEyMzksImV4cCI6MjA5NDY5NzIzOX0.m7mIohLTiKXbw8Dh1ao_bUQkrOetFiDOR-0Kcmcd2Hw

# Optional integrations
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_SECRET=change-me
NEXTAUTH_URL=http://localhost:3000
